anyio
apex
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
Bottleneck
brotlipy
certifi
cffi
charset-normalizer
cryptography
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
filelock
future
greenlet
huggingface-hub
idna
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
lxml
MarkupSafe
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
msgpack
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pip
pkgutil_resolve_name
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycparser
Pygments
pynvim
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
scikit-learn
scipy
Send2Trash
setuptools
six
sniffio
soupsieve
stack-data
tensorboardX
terminado
threadpoolctl
tinycss2
tokenizers
tornado
tqdm
traitlets
transformers
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
zipp
